body {margin: 0px; padding: 0px; font-family: 'Lora', sans-serif;}
canvas {
	position:fixed; 
	z-index: -1;
}	
.container { padding-top: 50px;}
.column-left{ float: left; width: 33%; padding-left: 35px; }
.column-right{ float: right; width: 33%; padding: 15px; }
.column-center{ display: inline-block; width: 33%; padding-right: 35px; }
.info {
	background-color: #3d3d3d;
	color: #efefef;
	border: solid #333333 3px;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 5px;
}
.header {
	color: #efefef;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 5px;
}
.right {
	float: right;
}
.sixty-width {
	width: 60%;
}
.popup {
	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
	background-color: rgba(61, 61, 61, 0.5);
	padding-top:20px;
	padding-bottom: 20px;
	padding-right: 10px;
  	padding-left: 10px;
}
span > .lvl {
	color:#2696ff;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
