body {margin: 0px; padding: 0px;}
canvas {
	position:fixed; 
	z-index: -1;
}	
.info {
	background-color: #3d3d3d;
	color: #efefef;
	border: solid #333333 3px;
}
.info-md {
	width: 70%;
	margin: 20px;
	border-radius: 10px;
	font-size: 0.9em;
}

#username {
	margin-top: 65px;
}
span >	 .lvl {
	color:#2696ff;
}